<!doctype html>
<html>
  <head>
    <title>Your Calendar Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h2>Today's Schedule:</h2>
    <ul>
      {% for event in today_events %}
        <li>{{ event.summary }} - {{ (event.start.dateTime or event.start.date) | datetimeformat }}
        </li>
      {% endfor %}
    </ul>
    <h2>Looking Ahead:</h2>
    <ul>
      {% for event in not_today_events %}
        <li>{{ event.summary }} - {{ (event.start.dateTime or event.start.date) | datetimeformat }}
        </li>
      {% endfor %}
    </ul>
    <h2>Tasks:</h2>
    <ul>
      {% for task in tasks %}
        <li>
          <strong>{{ task.name }}</strong> – {{ task.estimated_duration }} mins, Flex: {{ task.flexibility }}, Priority: {{ task.priority }}
          <a href="{{ url_for('delete_task', task_id=task.id) }}" onclick="return confirm('Delete this task?');">[Delete]</a>
        </li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('add_task') }}">Add a New Task</a>
    <br>
    <a href="{{ url_for('add_event') }}">Add a New Event</a>
    <br>
    <a href="{{ url_for('process_schedule') }}">Process Today’s Schedule</a>
    <br>
    <a href="{{ url_for('index') }}">Change Account</a>
  </body>
</html>
